<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!--   Spazio per le impostazioni dell'applicazione utente e della proprietà configurata.-->
		<!--   Esempio: <add key="NomeImpostazione" value="ValoreImpostazione"/> -->
		<add key="cmbTab.Text" value="cmbTab" />
	</appSettings>
</configuration>